<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:p="http://primefaces.org/ui">


<h:head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"/>
    <title>Book Store #{title}</title>
    <link type="text/css" href="${facesContext.externalContext.requestContextPath}/resources/css/style.css" rel="stylesheet"/>
    <link type="text/javascript" href="${facesContext.externalContext.requestContextPath}/scripts/common.js" rel="stylesheet"/>
    
    <script language="Javascript">
    
    	hoverin = function() {
			//console.log( "focus on: " + $(this).name );
			$(this).find('.slidebutton').slideUp("fast");
    	}
    	hoverout = function() {
			//console.log( "focus out of: " + $(this).name );
			$(this).find('.slidebutton').slideDown("fast");
    	}
    
    	/**
    		Called on document ready.
    	**/
    	$(document).ready( function() {
    		console.log( "Main document ready..." );
    		
    		console.log( "\t $('.slidebutton'): " + $('.slidebutton').length );
    		console.log( "\t $('.slidectl'): " + $('.slidectl').length );
    		
    		$('.slidectl').click( function () {
    			console.log( "Binding click on: " + $(this).name );
    		} ); //focus
    		
    		$('.slidectl').hover( hoverout, hoverin );
    		
    		console.log( "Document ready done..." );
    		
    	} );
    
    </script>
</h:head>

    		
</ui:composition>
    		