<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:p="http://primefaces.org/ui">


	<!--  Ajax status-->
	<p:ajaxStatus onstart="PF('statusDialog').show()" onsuccess="PF('statusDialog').hide()" />
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
	    <p:graphicImage library="images" name="ajaxloadingbar.gif" style="width: 8%; height: 8%"><h3><strong>Processing request...</strong></h3></p:graphicImage>
	    
	</p:dialog>
	
	<p:messages />
	<p:growl id="growl" showDetail="true" sticky="false" life="5000" autoUpdate="true"/>

    		
</ui:composition>
    		