<ui:composition 
    xmlns="http://www.w3.org/1999/xhtml"
    xmlns:f="http://xmlns.jcp.org/jsf/core"
    xmlns:h="http://xmlns.jcp.org/jsf/html"
    xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:pe="http://primefaces.org/ui/extensions" 
	xmlns:p="http://primefaces.org/ui">


	<!--  Main header -->
	<p:layoutUnit position="north" resizable="false" size="8%" styleClass="dstvheader" gutter="0">
	
		<p:layout>
			<p:layoutUnit position="west" resizable="false" size="15%" styleClass="dstvheader" gutter="0">
				
			</p:layoutUnit>
			
			<p:layoutUnit position="east" resizable="false" size="15%" styleClass="dstvheader" gutter="0">
			</p:layoutUnit>
			<p:layoutUnit position="center" resizable="false" gutter="0">
			</p:layoutUnit>
			
		</p:layout>
				
	</p:layoutUnit>
    		
</ui:composition>
    		