<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<!-- Common namespaces -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

<!--  Common header and links -->
<ui:include src="/includes/includehtmlheader.xhtml">
    <ui:param name="title" value="Home"></ui:param>
</ui:include>

<!--  HTML body -->
<h:body style="background: #252841">

    <h:form id="test_form">
        <ui:include src="/includes/includemessages.xhtml" />

        <!-- Outer Layout -->
        <p:layout fullPage="true">
            <ui:include src="/includes/includedstvheader.xhtml" />
            <p:focus/>
			<!-- outer layout center -->
            <p:layoutUnit position="center" resizable="false">

				<p:dataTable var="book" value="#{bookBean.list}">
					    <p:column headerText="Id">
					        <h:outputText value="#{book.id}" />
					    </p:column>
					 
					    <p:column headerText="Title">
					        <h:outputText value="#{book.title}" />
					    </p:column>
					 
					    <p:column headerText="Category">
					        <h:outputText value="#{book.category}" />
					    </p:column>
					 
					    <p:column headerText="Year">
					        <h:outputText value="#{book.year}" />
					    </p:column>
					    <p:column headerText="Price">
					        <h:outputText value="#{book.price}" />
					    </p:column>
					    <p:column>
							<h:commandButton value="edit"  action="#{bookBean.edit(item)}" />
						</p:column>
						<p:column>
							<h:commandButton value="delete"  />
						</p:column>
					</p:dataTable>
					
					
									
					<h:panelGroup rendered="#{bookBean.edit}">
						<h3>Edit Book #{bookBean.item.id}</h3>
						<h:form>
							<p>Name: <h:inputText value="#{bookBean.item.name}" /></p>
							<p>
								<h:commandButton value="save" />
								<h:commandButton value="cancel"  />
							</p>
						</h:form>
	</h:panelGroup>
            </p:layoutUnit> <!-- outer layout center -->
        </p:layout> <!-- outer layout -->

    </h:form> <!--  stb_details_form -->
</h:body>


</html>