/** This is the minimalist styling for Project lens. **/
.smallfont {
	font-size: 1em;
}

.ui-datatable.borderless thead th, .ui-datatable.borderless tbody,
	.ui-datatable.borderless tbody tr, .ui-datatable.borderless tbody td {
	border-style: none;
}

.ui-datatable.borderless thead th {
	display: none;
}

.smallerfont {
	font-size: .8em;
}

.largefont {
	font-size: 1.3em;
}

.dstvheader .ui-widget-content {
	border: 0px solid #666666;
	background: #121621;
	color: #eeeeee;
	padding: 0;
}

.cardbutton {
	width: 230px;
	height: 50px;
	margin-bottom: 10px;
	padding: 5;
}

.ui-widget .cardbutton {
	background: #384466;
}

/** #0f121e */
/** #393e52 */
.bodybackground {
	background: #252841;
}

.ui-panelgrid .ui-panelgrid-cell {
	border: none;
}

.container_row {
	display: flex; /* establish flex container */
	flex-direction: row; /* make main axis vertical */
	justify-content: center; /* center items vertically, in this case */
	align-items: center; /* center items horizontally, in this case */
}

.container_column {
	display: flex; /* establish flex container */
	flex-direction: column; /* make main axis vertical */
	justify-content: center; /* center items vertically, in this case */
	align-items: center; /* center items horizontally, in this case */
}

.box {
	width: auto;
	margin: 2px;
	text-align: center;
	/* will center text in <p>, which is not a flex item */
}